.container {
  width: 500px;
  border: 1px solid #35C6D2;
  border-top: 0;
  position: relative;
  height: 288px;
  overflow: hidden; }

h2 {
  color: white;
  background-color: #00C6D8;
  margin: 0;
  padding: 10px 20px;
  border-top: 1px solid #00B8C8;
  font-family: 'Lato', sans-serif;
  font-size: 20px; }

h2:hover {
  background-color: #00DAEE; }

.notExpanded {
  height: 0px;
  transition: height 1s;
  overflow: hidden; }

.expanded {
  min-height: fit-content;
  height: 153px;
  transition: height 1s;
  overflow: hidden; }

.mainText {
  color: #787980;
  padding: 0 20px;
  font-size: 15px; }
