.container {
  width: 500px;
  border: 1px solid #35C6D2;
  position: relative;
  height: 300px;
  overflow: hidden;
}

h2 {
  color: white;
  background-color: #00C6D8;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #00C6D8;
}

h2:hover {
  background-color: #00DAEE;
}

.notExpanded {
  display: none;
  height: 0px;
  
  overflow: hidden;

}

// .expanded {
//   transition: height 2s;

//   overflow: hidden;
// }













